# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# production
/dist

# IDEs / editors
.vscode/
.idea/
*.sublime-*

# OS files
.DS_Store
Thumbs.db

# logs
*.log

# env files
.env*
